body {
	font-family: -apple-system, 
								 BlinkMacSystemFont, 
								 "Segoe UI", 
								 Roboto, 
								 Helvetica,
								 Arial,
								 sans-serif,
								 "Apple Color Emoji",  /* Emojis*/
								 "Segoe UI Emoji", /* Emojis*/
								 "Segoe UI Symbol"; /* Emojis*/
		text-align:left;
		margin:auto;
		max-width:600pt;
		position:relative;
		padding-left: 20pt;
		padding-right: 20pt;
		padding-top: 2pt;
		padding-bottom:1pt;
	}
	
	#myVideo {
	 width: 100vw;
		height: 100vh;
		object-fit: cover;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
	
	#progress-bar-container {
		position: relative;
		width: 100%;
		height: 15px;
		background-color: rgb(255, 159, 159, 0.5);
		border-radius: 10px;
		margin-top: 5%;
		margin-bottom: 5%;	
}

#container {
  display: flex;
  /* align-items: center; */
	align-items: baseline;
}


#progress-bar-container{
align-items: center;
  margin: 0 10px;
}

#time-elapsed-container,
#time-remaining-container {
	align-items: center;
  margin: 0 10px;
	padding: 5px;
}


	#progress-bar {
		position: absolute;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: #ffffff;
		transition: width 1s;
		border-radius: 10px;
	}
	
	/*Section Divider*/
	div{
		border: none;
		margin: auto;
	}
		
	img{
		display: block;
		/* padding-top:5pt; */
		width:100%;
		height:auto;
		max-width:500pt;
		margin-left: auto;
		margin-right: auto;
		border-radius: 4px;
	}
	
	/*Text Stylings*/
	h1 {
		color:rgb(255, 255, 255) ;
		font-size:28pt;
		text-align: Left;
		font-weight:700;
		padding-bottom: 12pt;
		line-height: 0.5;
	}
	
	h2 { 
		font-size: 10pt;
		color:white;
		text-align: Left;
		font-weight: 600;
		padding-top: 12pt;
	}
	
	
	/*Sub headings*/
	h3{
		font-weight: 800;
		color:white;
		font-size: 20pt;
		font-kerning: 1pt;
		text-align:Left;
		line-height:20pt;
	}
	
	h4{
		font-weight: 700;
		font-style: italic;
		color: white;
		/* opacity: 60%; */
		font-size: 14pt;
	}
	
	
	/*paragraph styling*/
	
	p {
		margin-top: 1em;
		font-weight: normal;
		color:white;
		font-size: 12pt;
		text-align:Left;
		box-sizing:border-box;
		line-height:17pt;
		margin-bottom:2em;
	}
	
	p.one{
		margin-top: 0em;
		font-weight: 500;
		color:white;
		opacity: 0.75;
		font-size: 12pt;
		text-align:Left;
		box-sizing:border-box;
		line-height:5pt;
	
	}
	p.two{
		margin-top: 0em;
		font-weight: 800;
		color:white;
		font-size: 18pt;
		text-align:Left;
		box-sizing:border-box;
		line-height:3pt;
		opacity: 0;
	}
	p.three {
		margin-top: 1em;
		font-weight: normal;
		color:white;
		opacity: 90%;
		font-size: 10pt;
		text-align:Left;
		box-sizing:border-box;
		line-height:14pt;
	}
	p.four {
		margin-top: 0em;
		font-weight: 800;
		color:white;
		font-size: 18pt;
		text-align:Left;
		box-sizing:border-box;
		line-height:3pt;
    }

	
	a{margin-top: 1em;
		margin-bottom: 1em;
		font-size: 12pt;
		color: rgb(255, 255, 255);
		opacity: 0.8;
		 font-weight: 500;
		 padding-top: 10pt;
		 margin:auto;
		
	}
	
	a.one:link{
		margin-top: 1em;
		margin-bottom: 1em;
		font-size: 12pt;
		color: white;
		 font-weight: 500;
		 padding-top: 10pt;
		 

	}
	a.one:visited{
		 margin-top: 6em;
		 margin-bottom: 1em;
		font-size: 12pt;
		 color: white;
		font-weight: 500;
		text-decoration: none;
	 padding-top: 10pt;
	}
	a.two:link{
		 margin-top: 6em;
		 margin-bottom: 1em;
		font-size: 12pt;
		color: white;
		 font-weight: normal;
		padding-bottom: 20pt;
	}
	
	a.two:visited{
		 margin-top: 1em;
		 margin-bottom: 2em;
		font-size: 12pt;
		 color: white;
		font-weight: 500;
		text-decoration: none;
		padding-bottom: 20pt;
	}
	a.three:link{
		font-size: 12pt;
		color: white;
	}
	
	a.three:visited{
		font-size: 12pt;
		color: white;
	}
	

	.divider {
		width: 90%;
		opacity: 80%;
		margin-top: 7%;
		margin-bottom: 7%;
		border: none;
		border-top: 1px solid rgb(255, 255, 255);
	}

	blockquote {
		outline: 0;
		vertical-align: baseline;
		background: transparent;
		border-radius: 5pt;
		}

		.style1 {
			margin: 2em 2em 2em 1em;
			padding: 0 .75em 0 1.25em;
			border-left: 1px solid #ffffff;
			border-right: 0px solid #ffffff;
			outline: 0;
			border-radius: 0pt;

			vertical-align: baseline;
			background: transparent;
		}
		
	p2{
		font-weight: normal;
		color:white;
		font-size: 12pt;
		padding-top:11.5pt;
		position:below;
	}
	
	p3{
			font-weight: normal;
		color:white;
		opacity: 85%;
		font-size: 11pt;
		padding-top:11.5pt;
		position:below;
		font-style: italic;
	}
	
	/*footer*/
	
	f1{
	
		font-weight: normal;
		color:white;
		font-size: 8pt;
		text-align:center;
	}
	
	footer{
		text-align: center;
		padding-top: 40pt;
		margin-top: 4em;
	}
	
	/*Different paragraph stylings*/
	:root {
		--first-color: white;
		--second-color: #704444;
	}
	
	#toplinks {
		font-size: 12pt;
		color: white;
	}
	
	
	/*Classes*/
	
	* {box-sizing: border-box;}
	
	.container {
		max-width: 600pt;
		padding: 1px;
		color: white;
	}
	
	.item {
		width: 350px;
		padding: 5pt;
		display: inline-block;
		vertical-align: middle;
		color:white;
	}
	
	/* 3 image gallery*/
	
	.column {
		float: left;
		width: 32%;
		padding: 1px;
	}
	
	
	/* Clearfix (clear floats) */
	.row::after {
		content: "";
		clear: both;
		display: table;
	}
	
	.highlight {
		background-color: rgba(152, 255, 152, 0.35);
	}
	
	/* Select the table element and apply some styles */
	table {
		border-collapse: collapse;
		/* Remove gaps between cells */
		width: 100%;
		color: white;
		/* Set the table width to fill the container */
	}
	
	/* Select the table header cells and apply some styles */
	th {
	
		/* Set a light gray background color */
		padding: 10px;
		/* Add some space around the text */
		text-align: left;
		/* Align the text to the left */
		color: white;
		border: 1.5px solid #ffffff;
	
	}
	
	/* Select the table data cells and apply some styles */
	td {
		border: 1.5px solid #ffffff;
		/* Add a thin border around each cell */
		padding: 10px;
		color: white;
		/* Add some space around the text */
	}