body {
font-family: -apple-system, 
               BlinkMacSystemFont, 
               "Segoe UI", 
               Roboto, 
               Helvetica,
               Arial,
               sans-serif,
               "Apple Color Emoji",  /* Emojis*/
               "Segoe UI Emoji", /* Emojis*/
               "Segoe UI Symbol"; /* Emojis*/
  text-align:left;
  margin:auto;
  max-width:600pt;
  position:relative;
  padding-left: 20pt;
  padding-right: 20pt;
  padding-top: 2pt;
  padding-bottom:1pt;

 
}
#myVideo {
 width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}



/*Section Divider*/
div{
  border: none;
  margin: auto;
}
  
img{
  display: block;
  padding-top:5pt;
  width:100%;
  height:auto;
  max-width:500pt;
  margin-left: auto;
  margin-right: auto;
}

/*Text Stylings*/
h1 {
  color:white ;
  font-size:25pt;
  text-align: Left;
  font-weight:700;
  padding-bottom: 12pt;
line-height: 0.5;
  
}

h2 { 
  font-size: 10pt;
  color:white;
  text-align: Left;
font-weight: 600;
  padding-top: 12pt;
}


/*Sub headings*/
h3{
  font-weight: 650;
  color:white;
  font-size: 16pt;
  text-align:Left;
  line-height:18pt;
}

h4{
  
  font-weight: 900pt;
  color: white;
  font-size: 16pt;

}


/*paragraph styling*/

p {
  margin-top: 1em;
  font-weight: normal;
  color:white;
  font-size: 12pt;
  text-align:Left;
  box-sizing:border-box;
  line-height:17pt;
  margin-bottom:2em;
}

p.one{
  margin-top: 0em;
  font-weight: normal;
  color:white;
  font-size: 14pt;
  text-align:Left;
  box-sizing:border-box;
  line-height:5pt;

}
p.two{
  margin-top: 0em;
  font-weight: 800;
  color:white;
  font-size: 17.5pt;
  text-align:Left;
  box-sizing:border-box;
  line-height:3pt;

}
p.three {
  margin-top: 1em;
  font-weight: normal;
  color:white;
  opacity: 90%
  font-size: 10pt;
  text-align:Left;
  box-sizing:border-box;
  line-height:14pt;
}

a{margin-top: 1em;
  margin-bottom: 1em;
  font-size: 12pt;
  color: white;
  opacity: 0.8;
   font-weight: 500;
   padding-top: 10pt;
  
}

a.one:link{
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 12pt;
  color: white;
   font-weight: 500;
   padding-top: 10pt;
  
}
a.one:visited{
   margin-top: 6em;
   margin-bottom: 1em;
  font-size: 12pt;
   color: white;
  font-weight: 500;
  text-decoration: none;
 padding-top: 10pt;
}
a.two:link{
   margin-top: 6em;
   margin-bottom: 1em;
  font-size: 12pt;
  color: white;
   font-weight: normal;
  padding-bottom: 20pt;
}

a.two:visited{
   margin-top: 1em;
   margin-bottom: 2em;
  font-size: 12pt;
   color: white;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 20pt;
}
a.three:link{
  font-size: 12pt;
  color: white;
}

a.three:visited{
  font-size: 12pt;
  color: white);
}


p2{
  font-weight: normal;
  color:white;
  font-size: 12pt;
  padding-top:11.5pt;
  position:below;
}

p3{
    font-weight: normal;
  color:white;
  opacity: 30%
  font-size: 11pt;
  padding-top:11.5pt;
  position:below;
  
}

/*footer*/

f1{

  font-weight: normal;
  color:white;
  font-size: 8pt;
  text-align:center;
}

footer{
  text-align: center;
  padding-top: 40pt;
  margin-top: 4em;
}

/*Different paragraph stylings*/
:root {
  --first-color: white;
  --second-color: #818181;
}

#toplinks {
  font-size: 12pt;
  color: white;
}


/*Classes*/

* {box-sizing: border-box;}

.container {
  max-width: 600pt;
  padding: 1px;
  color: white;
}

.item {
  width: 350px;
  padding: 5pt;
  display: inline-block;
  vertical-align: middle;
  color:white;
}

/* 3 image gallery*/

.column {
  float: left;
  width: 32%;
  padding: 1px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
 
}
